@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}
.caixa1 {
	
	background-color: #F00;
	height: 220px;
	width: 100%;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	box-shadow:2px 2px 2px  #999999;
	
}


.caixa2 {
	background-color:#CCC;
	height: 180px;
	width: 100%;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	box-shadow:2px 2px 2px #999999;
	
}