@charset "utf-8";
/*.estilo5*/ 

body{
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 8px;
	background-color:#69F;
	
}
.frutas {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #333;	


}

.legume {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #006;
}