@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	/*background: #42413C;*/
	background: -moz-linear-gradient(0deg, #FFF9DE 0, #DAD9FF 0, #FFFFFF 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, 0deg, color-stop(0, FFF9DE), color-stop(0, DAD9FF), color-stop(100%, FFFFFF));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(0deg, #FFF9DE 0, #DAD9FF 0, #FFFFFF 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(0deg, #FFF9DE 0, #DAD9FF 0, #FFFFFF 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(0deg, #FFF9DE 0, #DAD9FF 0, #FFFFFF 100%);/* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
	background: linear-gradient(0deg, #FFF9DE 0, #DAD9FF 0, #FFFFFF 100%);/* W3C */
	margin: 0;
	padding: 0;
	color: #000;
}

ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}
a img { 
	border: none;
}

a:link {
	color: #42413C;
	text-decoration: underline; 
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}

.container {
	width: 960px;
	/*background: #FFFFFF;*/
	margin: 0 auto; 
	font-size: 100%;
}

header {
	/*background: #FFF;*/
	
	background: -moz-linear-gradient(0deg, #FFF9DE 0, #DAD9FF 0, #FFFFFF 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, 0deg, color-stop(0, FFF9DE), color-stop(0, DAD9FF), color-stop(100%, FFFFFF));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(0deg, #FFF9DE 0, #DAD9FF 0, #FFFFFF 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(0deg, #FFF9DE 0, #DAD9FF 0, #FFFFFF 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(0deg, #FFF9DE 0, #DAD9FF 0, #FFFFFF 100%);/* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
	background: linear-gradient(0deg, #FFF9DE 0, #DAD9FF 0, #FFFFFF 100%);/* W3C */
}

.sidebar1 {
	float: right;
	width: 180px;
	background-color:#FFF;
	padding-bottom: 10px;
}
.content {
	padding: 10px 0;
	width: 780px;
	float: right;
}


.content ul, .content ol {
	padding: 0 15px 15px 40px; 
}


nav ul {
	list-style: none; 
	border-top: 1px solid #666; 
	margin-bottom: 15px;
}
nav ul li {
	border-bottom: 1px solid #666; 
}
nav ul a, nav ul a:visited { 
	padding: 5px 5px 5px 15px;
	display: block; 
	width: 160px;  
	text-decoration: none;
	background: #CCCCCC;
}
nav ul a:hover, nav ul a:active, nav ul a:focus { 
	background: #333333;
	color: #FFF;
}


footer {
	padding: 10px 0;
	background: #CCC49F;
	position: relative;
	clear: both; 
}

header, section, footer, aside, nav, article, figure {
	display: block;
}
