h2,p{

color: black;
font-family:  sans-serif;

}
div,p{
            
    font: 10pt Arial;
    font-weight: bold;
    background-color: #606666;
    padding: 5px;
    display: block;
    position: relative;
    top: 10px;
    left: 10px;
    width: 200px;

}

body{
margin: 0px;
padding: 0px;
  

}

